*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    height: 100%;
    overflow: hidden;
}

.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../Assets/anhnen.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

.container{
    display: flex;
    flex-direction: column;
    width: 550px;
    height: 750px;
    background: #fff;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.container.login-mode{
    height: 420px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 20px;
}

.text{
    color: #3c009d;
    font-size: 38px;
    font-weight: 700;
}

.underline{
    width: 50px;
    height: 6px;
    background: #3c009d;
    border-radius: 9px;
}

.inputs{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 450px;
    height: 50px;
    background: #eaeaea;
    border-radius: 6px;
}

.input img{
    width: 20px;
    height: 20px;
    margin: 0px 20px;
}

.input input{
    height: 40px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #000000;
    font-size: 16px;
}

.input input[type="date"]{
    padding-left: 20px;
}

.submit-container{
    display: flex;
    gap: 20px;
    margin: 40px auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 50px;
    color: #fff;
    background: #4c00b4;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.gray{
    background: #eaeaea;
    color: #676767;
}
